<!-- design: hello for github pages by sng -->

<!DOCTYPE html>
<html>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollgress.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>
    <link rel="stylesheet" href="/css/jaimehuerta.css" />
    <meta name="viewport" content="width=device-width">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body class="body" >
    <div id="page-container" style="background-color: #bbbbbb;">
      <!-- HEADER -->
      <header class="header">
        <a href="#default" class="logo">Jaime Huerta</a>
        <div class="header-right">
          <a class="active" href="#home">About</a>
          <a href="#resume">Resume</a>
          <a href="#contact_me">Contact</a>
        </div>
      </header> 
      <div id="content-wrap">
        <!-- BANNER -->		
        <div class="top_banner">
          <img class="jaime_image" src="https://lh3.googleusercontent.com/ae7GBSVEdMPM48wIxs23c915Roc8vS_-O7sfbIhsGsqf27FtYqaXKNbqUi3uDUE5v-d2vGDO-6W975dBuBSL7hZ5e4iepzkd2EbdzhELnergix5N4EbZZfPKlpsJucvB1Qfdv5ySKw=w2400" alt="Personal Picture">
            <div class="inner">
                <h2 class="name_banner">Jaime Huerta</h2>
                <p 
                style="text-transform:none; font-size: 2em; font-weight: 200; color: #3d3d3d;">
                A minimalist website about my life and career</p>
            </div>
        </div>
        <!-- RESUME -->
        <div class="resume" id="resume">
          <img class="resume_image" src="https://lh3.googleusercontent.com/WGZmIlUpmA6YHgUNbLKhZI1o8Xoo7fP3phET3A2q8DvPfNUoaYBvjzBatY9Fs691qGt4NcfHNHSBL-79HsgYQRypE0WMBgPzXatS6KEemN5dsMlSLi3rlfNrXQt83_jWlvQgG8V4eQ=w2400" alt="Resume">
        </div>
        <div class="separation">
        </div>
        <!-- CONTACT -->
        <div class="contact_me" id="contact_me">
          <h2 class="contact_h">Connect</h2>
          <p class="contact_p">questions, comments, or concerns? please don't hesitate to reach out.</p>
          <a href="mailto:jaime.huerta@utdallas.edu" class="contact_button">Email me</a>
          <p class="contact_p">Or below you can find my social media</p>
        </div>
      </div>
      <!-- FOOTER -->
      <footer id="footer_jaime">
        <div class="icons">
          <a href="https://twitter.com/jhuerta1702" class="icon circle fa-twitter"><span class="label">Twitter</span></a>
          <a href="https://www.facebook.com/jaime.a.huerta.7" class="icon circle fa-facebook"><span class="label">Facebook</span></a>
          <a href="https://github.com/jhuerta17" class="icon circle fa-github"><span class="label">Github</span></a>
          <a href="https://linkedin.com/in/jaime-huertautd" class="icon circle fa-linkedin-square"><span class="label">LinkedIn</span></a>
        </div>
      </footer>
    </div>
  </body>
</html>